
/* Your CSS Code here. */
table {
            width: 50%;
            border-collapse: collapse;
	text-align:center;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
			text-align:center;
        }